<h1><%= @supplier.name %></h1>

<!-- if possible turn this table properly vertical when more properties are added -->
<table>
  <tr>
    <th>Supplier Number</th>
    <td><%= @supplier.id %></td>
  </tr>
</table>

<h2>Products by this supplier</h2>

<table>
  <tr>
    <th>Product Number</th>
    <th>Product Name</th>
    <th>Stock</th>
  </tr>
  <% for product in @products %>
  <tr>
    <td><%= product.id %></td>
    <td><a href="/products/:id"><%= product.name %></a></td>
    <td><%= product.quantity %></td>
  <% end %>
  </tr>
</table>