<h1><%= @supplier.name %></h1>

<img src="<%= @supplier.picture %>">

<table>
  <tr>
    <th>Location:</th>
    <td><%= @supplier.location %></td>
  </tr>
</table>

<a href="/suppliers/<%= @supplier.id %>/edit">Edit Supplier</a>
<form method="post" action="/suppliers/<%= @supplier.id %>/delete">
  <input type="submit" value="Delete Supplier">
</form>

<h2>Products by this supplier</h2>

<table>
  <tr>
    <th>Product Name</th>
    <th>Stock</th>
    <th hidden>Colour dot</th>
    <th>Buy Price</th>
    <th>Sell Price</th>
  </tr>
  <% for product in @products %>
  <tr>
    <td><a href="/products/<%= product.id %>"><%= product.name %></a></td>
    <td><%= product.quantity %></td>
    <td><% if product.quantity <= 3 %>
          <img src="/img/ico_red.png">
        <% elsif product.quantity >= 20 %>
          <img src="/img/ico_green.png">
        <% else %>
          <img src="/img/ico_yellow.png">
      <% end %>
    </td>
    <td><%= product.buy_price %> Gold</td>
    <td><%= product.sell_price %> Gold</td>
    <td><a href="/order">Order more</a></td>
  </tr>
  <% end %>
</table>