<h1><%= @supplier.name %></h1>

<img class="profile" src="<%= @supplier.picture %>">
<div class="overview" id="supplier-details">
<section class="financial-overview">
<table>
  <tr>
    <th class="fin-left">Location:</th>
    <td class="fin-right"><%= @supplier.location %></td>
  </tr>
</table>
</section>
</div>

<a class="link-to-button" id="supplier-edit" href="/suppliers/<%= @supplier.id %>/edit">Edit Supplier</a>
<form method="post" action="/suppliers/<%= @supplier.id %>/delete">
  <input type="submit" value="Delete Supplier">
</form>



<div class="table-div">
<h2 id="supplier-h2">Products by this supplier</h2>
<table>
  <tr>
    <th>Product Name</th>
    <th>Stock</th>
    <th></th>
    <th>Buy Price</th>
    <th>Sell Price</th>
  </tr>
  <% for product in @products %>
  <tr>
    <td><a href="/products/<%= product.id %>"><%= product.name %></a></td>
    <td class="td-center"><%= product.quantity %></td>
    <td class="dot"><% if product.quantity <= 3 %>
          <img src="/img/ico_red.png">
        <% elsif product.quantity >= 20 %>
          <img src="/img/ico_green.png">
        <% else %>
          <img src="/img/ico_yellow.png">
      <% end %>
    </td>
    <td class="td-center"><%= product.buy_price %> Gold</td>
    <td class="td-center"><%= product.sell_price %> Gold</td>
    <td><a class="link-to-button" href="/order">Order more</a></td>
  </tr>
  <% end %>
</table>
</div>