<h1>Inventory</h1>

<a href="/products/add">Add Product</a>

<table>
  <tr>
    <th>Product Number</th>
    <th><a href="/products/by_name">Product Name</a></th>
    <th><a href="/products/by_quantity">Quantity</a></th>
    <th>Supplier</th>
  </tr>
  <% for product in @products %>
  <tr>
    <td><%= product.id %></td>
    <td><a href="/products/<%= product.id %>"><%= product.name %></a></td>
    <td><%= product.quantity %></td>
    <td> <a href="/suppliers/<%= product.supplier_id %>"><%= product.which_supplier.name %></a></td>
    <td><% if product.quantity <= 3 %>
      <img src="/img/ico_red.png">
      <% elsif product.quantity >= 20 %>
      <img src="/img/ico_green.png">
      <% else %>
      <img src="/img/ico_yellow.png">
      <% end %>
    </td>
    <td><a href="/order">Order more</a></td>
    <% end %>
  </tr>
</table>