<h1>Edit "<%= @product.name %>"</h1>
<form method="post" action="/products/<%= @product.id %>">
    <label for="name">Name:</label>
    <input id="name" type="text" name="name" value="<%= @product.name %>">

    <label for="quantity">Stock:</label>
    <input id="quantity" type="number" name="quantity" value="<%= @product.quantity %>">

    <label for="buy-price">Buy price:</label>
    <input id="buy-price" type="number" name="buy_price" value="<%= @product.buy_price %>">

    <label for="sell-price">Sell price:</label>
    <input id="sell-price" type="number" name="sell_price" value="<%= @product.sell_price %>">

    <label for="supplier-id">Select a supplier</label>
    <select id="supplier-id" name="supplier_id">
      <% @suppliers.each do |supplier| %>
      <option <%= "selected" if supplier.id == @product.supplier_id %>
         value="<%= supplier.id %>"><%= supplier.name %></option>
      <% end %>
    </select>

  <input type="submit" value="Update Product">
</form>