<form method="post" action="/products/<%= @products.id %>">
    <label for="name">Name:</label>
    <input id="name" type="text" name="name" value="<%= @products.name %>">

    <label for="quantity">Stock:</label>
    <input id="quantity" type="number" name="quantity" value="<%= @products.quantity %>">

    <label for="supplier-id">Select a supplier</label>
    <select id="supplier-id" name="supplier_id" selected="<%= @products.supplier_id %>">
      <% @suppliers.each do |supplier| %>
      <option value="<%= supplier.id %>"><%= supplier.name %></option>
      <% end %>
    </select>

  <input type="submit" value="Update Product">
</form>


doesn't preselect correct supplier and also doesn't push changes to the db correctly, looks correct in the browser inspector tho