<h1><%= @product.name %></h1>

<!-- if possible turn this table properly vertical when more properties are added -->
<form method="post" action="/products/<%= @product.id %>/delete">
  <input type="submit" value="Delete Product">
</form>

<table>
  <tr>
    <th>Product Number</th>
    <th>Product Name</th>
    <th>Stock</th>
    <th>Supplier</th>
  </tr>
  <tr>
    <td><%= @product.id %></td>
    <td><a href="/products/<%= @product.id %>"><%= @product.name %></a></td>
    <td><%= @product.quantity %></td>
    <td> <a href="/suppliers/<%= @product.id %>"><%= @product.which_supplier.name %></a></td>
  </tr>
</table>