<h1><%= @product.name %></h1>

<img src="<%= @product.picture %>">

<form method="post" action="/products/<%= @product.id %>/delete">
  <input type="submit" value="Delete Product">
</form>

<table>
  <tr>
    <th>Product Name</th>
    <th>Type</th>
    <th>Stock</th>
    <th hidden>Colour dot</th>
    <th>Buy Price</th>
    <th>Sell Price</th>
    <th>Markup in %</th>
    <th>Supplier</th>
  </tr>
  <tr>
    <td><a href="/products/<%= @product.id %>"><%= @product.name %></a></td>
    <td><%= @product.which_type.type %></td>
    <td><%= @product.quantity %></td>
    <td><% if @product.quantity <= 3 %>
          <img src="/img/ico_red.png">
        <% elsif @product.quantity >= 20 %>
          <img src="/img/ico_green.png">
        <% else %>
          <img src="/img/ico_yellow.png">
      <% end %>
    </td>
    <td><%= @product.buy_price %></td>
    <td><%= @product.sell_price %></td>
    <td><%= @product.calculate_markup %></td>
    <td> <a href="/suppliers/<%= @product.id %>"><%= @product.which_supplier.name %></a></td>
    <td><a href="/order">Order more</a></td>
    <td><a href="/products/<%= @product.id %>/edit">Edit Product</a></td>
  </tr>
</table>