<h1><%= @product.name %></h1>

<img class="profile" src="<%= @product.picture %>">

<form class="button" method="post" action="/products/<%= @product.id %>/delete">
  <input type="submit" value="Delete Product">
</form>
<div class="table-div">
<table>
  <tr>
    <th>Product Name</th>
    <th>Type</th>
    <th>Stock</th>
    <th></th>
    <th>Buy Price</th>
    <th>Sell Price</th>
    <th>Markup in %</th>
    <th>Supplier</th>
  </tr>
  <tr>
    <td><%= @product.name %></td>
    <td><%= @product.which_type.type %></td>
    <td class="td-center"><%= @product.quantity %></td>
    <td class="dot"><% if @product.quantity <= 3 %>
          <img src="/img/ico_red.png">
        <% elsif @product.quantity >= 20 %>
          <img src="/img/ico_green.png">
        <% else %>
          <img src="/img/ico_yellow.png">
      <% end %>
    </td>
    <td class="td-center"><%= @product.buy_price %></td>
    <td class="td-center"><%= @product.sell_price %></td>
    <td class="td-center"><%= @product.calculate_markup %></td>
    <td> <a href="/suppliers/<%= @product.id %>"><%= @product.which_supplier.name %></a></td>
    <td><a class="link-to-button" href="/order">Order more</a></td>
    <td><a class="link-to-button" href="/products/<%= @product.id %>/edit">Edit Product</a></td>
  </tr>
</table>
</div>